#santa-box {
  display: flex;
  /*width: 50%;*/
  padding: 15% 0 10% 0;
  margin: -3% 0 0 47%;
  /*background: #bacacc;*/
}

#present-lid {
  z-index: 6;
  position: absolute;
  background: #5906a1;
  padding: 1% 5.4% 1% 5.4%;
  border-radius: 4%;
  margin-left: 15.5%;
  margin-top: 2.6%;
  -ms-transform: rotate(318deg);
  -webkit-transform: rotate(318deg);
  transform: rotate(318deg);
}

#lid-stripe {
  height: 101%;
  width: 25%;
  border: solid 1px #1da60d;
  background: green;
  position: absolute;
  z-index: 7;
  margin-top: -10%;
  margin-left: -13.25%;
}

#bow-knot {
  z-index: 6;
  position: absolute;
  background: green;
  padding: 12.25%;
  margin-top: -20%;
  border-radius: 50%;
  border: solid 1px #1da60d;
  margin-left: -12.5%;
}

#ribbon-left {
  z-index: 1;
  position: absolute;
  background: green;
  border: solid 1px #1da60d;
  border-radius: 50%;
  padding: 10% 25% 25% 25%;
  -ms-transform: rotate(32deg);
  -webkit-transform: rotate(32deg);
  transform: rotate(32deg);
  margin-left: -47%;
  margin-top: -47%;
}

#ribbon-right {
  z-index: 1;
  position: absolute;
  background: green;
  border: solid 1px #1da60d;
  border-radius: 50%;
  padding: 17.5% 25% 17.5% 25%;
  -ms-transform: rotate(148deg);
  -webkit-transform: rotate(148deg);
  transform: rotate(148deg);
  margin-left: -5%;
  margin-top: -47%;
}

#left-gap {
  position: absolute;
  padding: 13% 40% 15% 20%;
  background: #bacacc;
  border-radius: 50%;
  margin-top: 2%;
  margin-left: -23%;
}

#right-gap {
  position: absolute;
  padding: 13% 40% 15% 20%;
  background: #bacacc;
  border-radius: 50%;
  margin-top: -15%;
  margin-left: -33%;
}

#present-box {
  border-radius: 3%;
  border: solid 1px #1171ba;
  width: 9.5%;
  padding: 7% 0 0% 0;
  position: absolute;
  z-index: 5;
  background-color: blue;
  margin-left: 24.3%;
  margin-top: 1%;
}

#box-stripe {
  height: 99%;
  width: 25%;
  background: green;
  position: absolute;
  z-index: 6;
  margin-top: -74%;
  margin-left: 37%;
  border: solid 1px #1da60d;
}

#hat-body {
  z-index: 2;
  border: px solid black;
  position: absolute;
  background-color: red;
  color: red;
  padding: 4.5%;
  -webkit-clip-path: polygon(0% 99%, 2% 93%, 5% 87%, 9% 80%, 12% 73%, 15% 69%, 18% 64%, 22% 57%, 26% 52%, 30% 48%, 36% 44%, 41% 40%, 47% 37%, 53% 35%, 60% 33%, 67% 32%, 73% 32%, 80% 32%, 85% 34%, 91% 38%, 95% 42%, 98% 47%, 91% 49%, 84% 47%, 78% 49%, 73% 53%, 70% 58%, 68% 63%, 67% 69%, 66% 75%, 68% 80%, 71% 84%, 73% 88%, 75% 94%, 76% 98%, 78% 100%);
  clip-path: polygon(0% 99%, 2% 93%, 5% 87%, 9% 80%, 12% 73%, 15% 69%, 18% 64%, 22% 57%, 26% 52%, 30% 48%, 36% 44%, 41% 40%, 47% 37%, 53% 35%, 60% 33%, 67% 32%, 73% 32%, 80% 32%, 85% 34%, 91% 38%, 95% 42%, 98% 47%, 91% 49%, 84% 47%, 78% 49%, 73% 53%, 70% 58%, 68% 63%, 67% 69%, 66% 75%, 68% 80%, 71% 84%, 73% 88%, 75% 94%, 76% 98%, 78% 100%);
  margin-left: 25.5%;
  margin-top: -11.5%;
}

#hat-brim {
  z-index: 3;
  position: absolute;
  background-color: white;
  width: 6%;
  /*height: 2.5%;*/
  padding: 0.85%;

  margin-left: 25.1%;
  margin-top: -3.65%;
  border-radius: 40%;
  border: solid 1px #cccbcb;
}

#pom-pom {
  z-index: 3;
  position: absolute;
  background-color: white;
  padding: 0.85%;
  border-radius: 50%;
  margin-left: 33%;
  margin-top: -8%;
  border: solid 1px #cccbcb;
}

#santa-head {
  z-index: 1;
  position: absolute;
  background-color: #fceec7;
  border-radius: 50%;
  width: 7%;
  padding: 3.5% 0 3% 0;
  margin-top: -4%;
  margin-left: 25.5%;
}

#left-eye {
  z-index: 2;
  position: absolute;
  background-color: black;
  padding: 9%;
  border-radius: 50%;
  margin-top: -15%;
  margin-left: 22%;
}

#right-eye {
  z-index: 2;
  position: absolute;
  background-color: black;
  padding: 9%;
  border-radius: 50%;
  margin-top: -15%;
  margin-left: 60%;
}

.eye-glimmer {
  z-index: 3;
  position: absolute;
  background-color: white;
  padding: 12%;
  border-radius: 50%;
  margin-top: -40%;
}

#nose {
  z-index: 3;
  position: absolute;
  background-color: #fbba8d;
  border-radius: 45%;
  border: solid 1px #e1aeab;
  margin-left: 44%;
  padding: 5%;
}

#beard {
  z-index: 2;
  position: absolute;
  background: white;
  border: solid 1px #cccbcb;
  border-radius: 25%;
  padding: 50%;
}
