* {
  margin: 0;
  padding: 0;
}

body > h1 {
  text-align: center;
  color: #f2f2f2;
  font-size: 450%;
}

body, html {
  height: 100%;
  background-color: red;
}

#login-info {
  /*background-color: #f2f2f2;*/
  background-color: #38ae13;
  float: right;
  border-radius: 10%;
  padding: 0.25%;
  margin-top: -5%;
  margin-right: 1%;
}

.page-content {
  background-color: #f2f2f2;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
  margin-left: 15%;
  margin-right: 15%;
}

#greeting {
  margin-top: 4%;
  padding-bottom: 5%;
}

.main-content {
  display: inline;
}

.content-box {
  border: solid 2px green;
  border-radius: 15%;
  margin-bottom: 3%;
  padding: 5%;
}

.content-box > h2 {
  padding-bottom: 5%;
}

#managing {
  float: left;
}

.exchange-listing {
  color: green;
  border: solid 1px black;
  margin-bottom: 3%;
}

#plan-form {
  float: right;
  margin-right: 0%;
}

.form-input {
  padding-bottom: 5%;
}

.form-input > textarea {
  float: right;
  margin-left: -3%;
}

input {
  margin-top: 7%;
}
