* {
  margin: 0;
  padding: 0;
}

body > h1 {
  text-align: center;
  color: #f2f2f2;
  font-size: 550%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

body, html {
  height: 100%;
  background-color: #eb0000;
}

.page-content {
  background-color: #f2f2f2;
  display: flex;
  height: 100%;
  border-radius: 15%;
  margin-left: 5%;
  margin-right: 5%;
}

.page-greeting {
  margin: -15% 0 3.25% 7%;
  font-size: 400%;
  padding-right: 40%;
}

.header-font {
  font-family: 'Alegreya SC', serif;
}

#home-columns {
  display:flex;
  padding: 4%;
}

#home-left {
  margin: -7% 3% 0 0;
}

#mission-statement {
  display: block;
  border: solid 2px #3ba676;
  background-color: #c3e9c9;
  border-radius: 5%;
  padding: 5% 5% 5% 2%;
  font-size: 125%;
  margin: 0 40% 0 5%;
  font-family: 'Antic', sans-serif;
}

#home-right {
  font-size: 125%;
  position: absolute;
  z-index: 2;
  margin: 0 0 0 50%;
  border: solid 2px #bc1010;
  padding: 3% 5% 3% 5%;
  border-radius: 5%;
  background-color: #e9c3c3;
}

#login-box {
  font-size: 125%;
}

.login-field {
  margin-right: 50%;
  font-size: 65%;
}

#login-button {
  background: linear-gradient(160deg, #f66565, #cc0000);
  border-radius: 33%;
  font-size: 65%;
  padding: 2%;
}

.signedin-body {
  width: 100%;
}

#greeting {
  margin: -15% 0 3.25% 7%;
  font-size: 350%;
  padding-right: 40%;
}

.whoami {
  margin: -2% 0% 0 7%;
}

.logout {
  padding: 0.6% 1.2% 0.6% 1.2%;
  border-radius: 30%;
  background: linear-gradient(160deg, #72bee4, #1a53ff);
  font-size: 110%;
  font-family: 'Antic', sans-serif;
}

.content-box {
  display: inline-block;
  margin-top: 3%;
  padding: 0 5% 5% 5%;
}

#managing {
  float: left;
}

.listing {
  background-color: #c3e9c9;
  border: solid 2px green;
  border-radius: 4%;
  padding: 2%;
  margin-bottom: 3%;
}

.exchange-info {
  font-family: 'Antic', sans-serif;
}

#plan-form {
  font-family: 'Antic', sans-serif;
}

.form-input {
  border: solid 2px #bc1010;
  padding: 3%;
  border-radius: 5%;
  background-color: #e9c3c3;
  font-size: 115%;
}

.form-input > textarea {
  font-size: 100%;
}

.form-input > input {
  background: linear-gradient(160deg, #f66565, #cc0000);
  border-radius: 33%;
  font-size: 75%;
  width: 18%;
  padding: 2% 0% 2% 0%;
}

.delete-btn {
  background: linear-gradient(160deg, #f66565, #cc0000);
  border: solid 1px #bc1010;
  border-radius: 33%;
  padding: 0% 1.5% 0 1%;
  width: 21%;
  float: right;
  margin-top: -0.7%;
}

.links {
  margin: -3% 0 0% 7%;
  font-size: 130%;
  font-family: 'Antic', sans-serif;
}

.main-content {
  display: flex;
}

.single-ex {
  margin-right: 1%;
  font-family: 'Antic', sans-serif;
}

.restriction-delete {
  float:none;
  margin-top: 2%;
}

#make-list-btn {
  background: linear-gradient(160deg, #c3e9c9, #3fde57);
  background-color: #c3e9c9;
  /*border: solid 2px green;*/
  border-radius: 33%;
  padding: 3%;
  font-size: 150%;
  float: left;
}

.toggle-btn {
  background: linear-gradient(160deg, #f66565, #cc0000);
  border: solid 1px #bc1010;
  border-radius: 33%;
  padding: 3%;
  font-size: 150%;
  float: left;
}

.list-entry {
  border: solid 2px #bc1010;
  border-radius: 5%;
  background-color: #e9c3c3;
  margin-right: -10%;
}

#join-title {
  width: 100%;
}

#join-form-box {
  width: 33%;
  margin-left: 2%;
}

#join-form {
  background-color: #c3e9c9;
  border: solid 2px green;
  border-radius: 4%;
  padding: 2%;
  margin-bottom: 3%;
  font-family: 'Antic', sans-serif;
}

.join-form-row {
  width: 100%;
  display: inline-flex;
}

.join-form-col {
  width: 100%;
}

.single-row {
  display: block;
}

.join-form-input {
  border: solid 2px #bc1010;
  margin-bottom: 5%;
  display: block;
  font-size: 110%;
}

#denied-access {
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
